body{
    background:white;

}
.header{
    
    background:white;
    width: 50%;
    height: 600px;
    /* padding: 20px; */
    margin-left: 26%;
    margin-top: 2.5%;

}
input{
    width: 68%;
    height: 25px;
}
.input1{
    background: silver;
    color: black;
}