*{
    margin: 0;
    padding: 0;
}
.form-group{
    margin-bottom: 1rem;
}
#inputValue{
    width: 760px;
    padding:.375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    outline: none;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;

}
#search{
    color: #fff;
    background-color: #007bff;
    font-size: 1rem;
    outline: none;
    min-height: 38px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    padding: .375rem .75rem;
    line-height: 1.5;
    border-radius: .25rem;

}